*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: montserrat;
}

nav{
	background-color: black;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold; 
}

nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	border-radius: 3px;
	text-transform: uppercase;
}
.content{
	display: block;
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
}
.wrapper{
	width: 800px;
	height: 720px;
	border: 5px solid black;
	border-radius: 10px;
	margin-bottom: 30px;
}
.description{
	padding: 10px;
}
.leftside{
	position: relative;
	display: grid;
	float: left;
	margin: 10px;
}
.rightside{
	background-color: gray;
	float: right;
	height: 600px;
	width: 550px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: auto;
}